extends layout

block content
  h1 Update Book
  include error
  form(action="/books", method="post")

    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', title='title' value=book.title)
    div.form-group
      label(for='author') Author:
      input#author.form-control(type='text', author='author' value=book.author)
    div.form-group
      label(for='genre') Genre:
      input#genre.form-control(type='text', genre='genre' value=book.genre)
    div.form-group
      label(for='year') Year:
      input#year.form-control(type='text', year='year' value=book.year)
    button.btn.btn-primary(type='submit') Update Book
    p.
    a(href="/books") Cancel